@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif; }

header {
  background-color: black; }
  header .navbar {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    font-weight: bold; }
    header .navbar a {
      color: goldenrod;
      font-size: 1 rem;
      text-decoration: none;
      list-style: none; }

main {
  background-image: url(../assets/img/lee-campbell-DtDlVpy-vvQ-unsplash-1.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh; }
  main h1 {
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    text-align: end; }
    main h1 .color {
      color: coral; }
